# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2011-2024 Carles Fernandez-Prades <carles.fernandez(at)cttc.es>
*~
.*.swp
/build/
/build*/
/cmake-build-debug/
/data/
/docs/doxygen/Doxyfile
/docs/html/
/docs/latex/
/docs/GNSS-SDR_manual.pdf
/gnss_sdr_pvt.nmea
/GSDR*
/HAS_*
/PVT_*
/Testing/
/tests/data/output.dat
/thirdparty/
/utils/nav-listener/build/
/utils/nav-listener/build*/
/install
.cproject
.DS_Store
.idea
.project
.pydevproject
.settings
.vs/
.vscode/
