# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2011 Carles Fernandez-Prades <carles.fernandez(at)cttc.es>
*~
.*.swp
docs/doxygen/Doxyfile
docs/html
docs/latex
docs/GNSS-SDR_manual.pdf
conf/*
src/tests/data/output.dat
thirdparty/
src/utils/nav-listener/build
.settings
.project
.cproject
.idea
cmake-build-debug/
cmake-build-release/
/install
.DS_Store
.pydevproject
.vscode/
.vs/
Testing/
GSDR*
PVT_*
HAS_*
gnss_sdr_pvt.nmea
build-debug/
build-release/

