# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2011 Carles Fernandez-Prades <carles.fernandez(at)cttc.es>
*~
*.pyc
*.pyo
html/
build/
.project
.cproject
/.DS_Store
/gen/volk_gnsssdr_arch_defs.py
