# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2023 Carles Fernandez-Prades <carles.fernandez@cttc.es>

name: Run volk_gnsssdr tests

on:
  push:
    paths:
      - "src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/**"
      - "CMakeLists.txt"
  pull_request:
    paths:
      - "src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/**"
      - "CMakeLists.txt"
  workflow_dispatch:

jobs:
  build-ubuntu-non-x86:
    runs-on: ubuntu-22.04
    name: ${{ matrix.distro }} ${{ matrix.arch }} ${{ matrix.compiler.name }}

    # Run steps on a matrix of archs.
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: aarch64
            distro: ubuntu22.04
            compiler: { name: g++-12, cc: gcc-12, cxx: g++-12 }
          - arch: aarch64
            distro: ubuntu22.04
            compiler: { name: clang-14, cc: clang-14, cxx: clang++-14 }
          - arch: armv7
            distro: ubuntu22.04
            compiler: { name: g++-12, cc: gcc-12, cxx: g++-12 }
          - arch: ppc64le
            distro: ubuntu22.04
            compiler: { name: g++-12, cc: gcc-12, cxx: g++-12 }
          - arch: s390x
            distro: ubuntu22.04
            compiler: { name: g++-12, cc: gcc-12, cxx: g++-12 }
          - arch: riscv64
            distro: ubuntu22.04
            compiler: { name: g++-12, cc: gcc-12, cxx: g++-12 }

    steps:
      - uses: actions/checkout@v4
      - uses: uraimo/run-on-arch-action@v2
        name: Build in non-x86 container
        # continue-on-error: ${{ contains(fromJson('["ppc64le", "s390x"]'), matrix.arch) }}
        id: build
        with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          githubToken: ${{ github.token }} # Not required, but speeds up builds
          setup: |
            mkdir -p "${PWD}/testing"
          dockerRunArgs: |
            --volume "${PWD}:/volk_gnsssdr"
          env: |
            CC: ${{ matrix.compiler.cc }}
            CXX: ${{ matrix.compiler.cxx }}
          shell: /bin/sh
          install: |
            apt update
            apt install -y git cmake python3-mako liborc-dev ${{ matrix.compiler.name }}
          run: |
            git config --global --add safe.directory /volk_gnsssdr
            cd /volk_gnsssdr
            cd testing
            cmake ../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/
            make
            ./apps/volk_gnsssdr-config-info --alignment
            ./apps/volk_gnsssdr-config-info --avail-machines
            ./apps/volk_gnsssdr-config-info --all-machines
            ./apps/volk_gnsssdr-config-info --malloc
            ./apps/volk_gnsssdr-config-info --cc
            ctest -V


  RISCV64-RVV-tests:
    runs-on: ubuntu-24.04
    name: RISCV64 RVV tests
    steps:
    - uses: actions/checkout@v4
    - name: Install packages
      run: |
        sudo apt update
        sudo apt install -y python3-mako cmake qemu-user-static g++-14-riscv64-linux-gnu clang-18
    - name: Test RVV with gcc-14 VLEN=128
      run: |
        mkdir -p gcc14_VLEN_128; cd gcc14_VLEN_128
        CXX=riscv64-linux-gnu-g++-14 CC=riscv64-linux-gnu-gcc-14 VLEN=128 cmake -DCMAKE_TOOLCHAIN_FILE=../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/cmake/Toolchains/rv64gcv-linux-gnu.cmake ../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/
        make -j$(nproc)
        ARGS=-V make test
        cd ..; rm -rf gcc14_VLEN_128
    - name: Test RVV with gcc-14 VLEN=256
      run: |
        mkdir -p gcc14_VLEN_256; cd gcc14_VLEN_256
        CXX=riscv64-linux-gnu-g++-14 CC=riscv64-linux-gnu-gcc-14 VLEN=256 cmake -DCMAKE_TOOLCHAIN_FILE=../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/cmake/Toolchains/rv64gcv-linux-gnu.cmake  -DCMAKE_BUILD_TYPE=Release ../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/
        make -j$(nproc)
        ARGS=-V make test
        cd ..; rm -rf gcc14_VLEN_256
    - name: Test RVV with clang-18 VLEN=512
      run: |
        mkdir -p clang18_VLEN_512; cd clang18_VLEN_512
        CXX=clang++-18 CC=clang-18 CFLAGS=--target=riscv64-linux-gnu VLEN=512 cmake -DCMAKE_TOOLCHAIN_FILE=../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/cmake/Toolchains/rv64gcv-linux-gnu.cmake ../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/
        make -j$(nproc)
        ARGS=-V make test
        cd ..; rm -rf clang18_VLEN_512
    - name: Test RVV with clang-18 VLEN=1024
      run: |
        mkdir -p clang18_VLEN_1024; cd clang18_VLEN_1024
        CXX=clang++-18 CC=clang-18 CFLAGS=--target=riscv64-linux-gnu VLEN=1024 cmake -DCMAKE_TOOLCHAIN_FILE=../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/cmake/Toolchains/rv64gcv-linux-gnu.cmake -DCMAKE_BUILD_TYPE=Release ../src/algorithms/libs/volk_gnsssdr_module/volk_gnsssdr/
        make -j$(nproc)
        ARGS=-V make test
        cd ..; rm -rf clang18_VLEN_1024